.Player-div {
    margin: 10px;
    padding: 10px;
}

.Player-table {
    color: #CEB888;
}

.dropdown-toggle {
    background-color: #CEB888;
    color: #782F40;
}

.dropdown-toggle:hover {
    background-color: #CEB888;
    color: #782F40;
}

.dropdown-toggle:active {
    background-color: #CEB888;
    color: #782F40;
}

.dropdown-toggle::selection {
    background-color: #CEB888;
    color: #782F40;
}

.dropdown-toggle-active {
    background-color: #CEB888;
    color: #782F40;
}
